body{
    background-color: #5518a5;
    color:rgb(255, 255, 255)
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 18px;
font-size: 27px;
}

.logo{
    width: 25%;
}
