*{
    padding: 0;
    margin: 0;
}



body{
    background-color:#09698f;
    color: #fdfdfd;
}

.cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.cabeçalho-lista-item{
        display: inline-block;
        margin: 0 18px;
        font-size: 30px;
}

.logo{
    width: 25%;
}
.imagem-escola{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#09698f,#20aeb3);
    justify-content: center;
    align-items: center;
    display: flex;
}
.escola-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.aluno-1{
    width: 120px;
}
.aluno-2{
    width: 120px;
}
.aluno-3{
    width: 120px;
}.aluno-4{
    width: 120px;
}.aluno-5{
    width: 120px;
}.aluno-6{
    width: 120px;
}.aluno-7{
    width: 120px;
}